<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <form ng-submit="searchForBuilding(query)">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Building number..." ng-model="query" auto-focus>
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">Find it!</button>
            </span>
          </div>
        </form>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>
